.boxParticipationList {
  position: absolute;
  top: 6rem;
  left: 3rem;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: move;
  color: black;
  max-width: 450px;
  width: 270px;
  height: 372px;
  user-select: none;
}

.compositionBox {
  position: absolute;
  top: 6rem;
  left: 3rem;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: move;
  color: black;
  width: 900px;
  height: 500px;
  user-select: none;
  border: 1px solid rgb(153, 153, 153);
}

.compositionRecallBox {
  position: absolute;
  top: 6rem;
  left: 3rem;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: move;
  color: black;
  width: 950px;
  height: 550px;
  user-select: none;
  border: 1px solid rgb(153, 153, 153);
}

.compositionRecallHome {
  position: absolute;
  top: 10rem;
  left: 25rem;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: move;
  color: black;
  width: 950px;
  height: 550px;
  user-select: none;
  border: 1px solid rgb(153, 153, 153);
}

.saveCompositionBtn {
  position: absolute;
  top: 31.5rem;
  left: 0rem;
  
}

.saveCompositionBtnHome {
  position: absolute;
  top: 31.5rem;
  left: 0rem;
  
}



