.boxParticipationList {
  position: absolute;
  top: 6rem;
  left: 3rem;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: move;
  color: black;
  max-width: 450px;
  width: 270px;
  height: 372px;
  user-select: none;
}

.saveCompositionBtn {
  position: relative;
  top: 6.5rem;
  right: 0.1rem;
}



