.textInput {
    appearance: none;
    box-sizing: border-box;
    display: block;
    background-color: white;
    line-height: 1.125;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    padding: 0.65625em 0.75em;
    border: 1px solid rgb(153, 153, 153);
    -webkit-font-smoothing: antialiased;
}