.list {
  font-size: 12px;
  padding: 0.1em;
  letter-spacing: 0.2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border-style: solid;
  border-width: 1px;
}

.biglist {
  font-size: 8px;
  padding: 0.3rem;
  margin: 0px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border-style: solid;
  border-width: 1px;
}
